         <div class="game-card soon">
            <div class="icon-container">⏳</div>
            <div>
                <h3>Yakında</h3>
                <p class="description">Yeni oyunlar çok yakında!</p>
            </div>
            <button class="play-button" disabled>Yakında</button>
        </div>
    </div>
