        <div class="game-card" data-modal-id="passwordGuessModal">
            <div class="icon-container">🔑</div>
            <div>
                <h3>Şifre Tahmini</h3>
                <p class="description">Gizli şifreyi bul!</p>
            </div>
            <button class="play-button">Oyna</button>
        </div>

        <div id="passwordGuessModal" class="modal">
        <div class="modal-content">
            <span class="close-modal-button" data-modal-id="passwordGuessModal">&times;</span>
            <h2 class="text-2xl font-semibold text-gray-300 mb-4">Şifre Tahmin Etmece</h2>
            <div id="passwordGuessControlsContainer">
                <% if (user && user.id === '352036341153923072') { %>
                <button id="passwordGuessDevModeToggle">DEV Modu: KAPALI</button>
                <% } %>
                <span id="passwordGamePlaysRemainingText" class="text-sm text-gray-400 ml-auto"></span> 
            </div>
            <div id="passwordGuessGameContent" class="game-html-content">
                <p id="passwordInfoText" class="mb-2">Şifre X haneli.</p>
                <div id="passwordInputContainer"></div>
                <div id="hintDisplay"></div>
                <button id="submitGuessButton">Tahmin Et</button>
                <p id="passwordGuessResult" class="mt-3"></p>
                <p id="passwordAttemptsLeft"></p>
            </div>
        </div>
    </div>
